.list {
  width: 100%;
  box-shadow: 0 2px 8px 0 var(--dark-blue);
  padding: 24px;
  border-radius: var(--radius);
}

.title {
  font: var(--font-xl);
  color: var(--text-secondary);
}

.item {
  padding: 16px;
  border-top: 1px solid var(--light-gray);
  width: 100%;
}
